version: "3.9"

services:
  backend:
    build: ./backend
    container_name: django_api
    ports:
      - "8000:8000"
    environment:
      - DEBUG=True

  frontend:
    build: ./frontend
    container_name: react_ui
    ports:
      - "3000:80"
    environment:
      - VITE_API_URL=http://localhost:8000
    depends_on:
      - backend
